mj-section(background-color="#000000" padding="0")
    mj-column(width='50%')
        mj-image(padding="0" width="480px" fluid-on-mobile="true" src="https://i.ibb.co/3yv75mz/jpo14122024.jpg")
    mj-column(width='50%')
        mj-text
mj-section(background-color="#000000" padding="0")
    mj-column(width='50%')
        mj-text
    mj-column(width='50%')
        mj-image(padding="0" width="480px" fluid-on-mobile="true" src="https://i.ibb.co/3yv75mz/jpo14122024.jpg")
mj-section(background-color="#000000" padding="0")
    mj-column(width='50%')
        mj-image(padding="0" width="480px" fluid-on-mobile='true' src="https://i.ibb.co/3yv75mz/jpo14122024.jpg")
    mj-column(width='50%')
        mj-image()
        mj-text(mj-class="") Chloe
        mj-text(mj-class="") Missions : Mise en rayon, Respect du merchandesing, Organisation d'opération commerciales, Missions de management, Gestion des livraisons et des stocks