mj-section(background-color="#ffffff")
    mj-column(width="480px")
        mj-text(padding-bottom="0" padding-top="0" mj-class="dH2 cOF" text-transform='uppercase') Étudiants BTS MCO 
        mj-text(padding-bottom="0" padding-top="0" mj-class="dH1 cO") Découvertes des étudiants en apprentissage dans leur entreprise
mj-section(background-color="#ffffff" padding="0")
    mj-column(width='50%')
        mj-image(padding="0" width="480px" fluid-on-mobile="true" src="https://i.ibb.co/HtdqrSN/let-Com01-122024.jpg")
    mj-column(width='50%')
        mj-image(width="60px" src="https://i.ibb.co/rwCsPwv/logo13.jpg" alt="logo B&M")
        mj-text(mj-class="dH1" padding-top="0") XXXXX
        mj-text(mj-class="dT" padding-top='0' padding-bottom='0') #[span(style="font-weight:700;") Missions :] Mise en rayon, Respect du merchandesing, Organisation d'opération commerciales, Missions de management, Gestion des livraisons et des stocks
//-Levis
mj-section(background-color="#ffffff" padding="0")
    mj-column(width='50%')
        mj-image(width="60px" src="https://i.ibb.co/PCdy14J/logo2.jpg" alt="logo Levis")
        mj-text(mj-class="dH1" padding-top="0") Benjamin
        mj-text(mj-class="dT" padding-top='0' padding-bottom='0') #[span(style="font-weight:700;") Missions :] Mise en rayon, Suivi du merchandising, Conseil et Vente, Communication sur les réseaux sociaux...
    mj-column(width='50%')
        mj-image(padding="0" width="480px" fluid-on-mobile="true" src="https://i.ibb.co/CHXc8q7/let-Com04-122024.jpg")
//-Chloé
mj-section(background-color="#ffffff" padding="0")
    mj-column(width='50%')
        mj-image(padding="0" width="480px" fluid-on-mobile='true' src="https://i.ibb.co/9bs2fGL/let-Com02-122024.jpg")
    mj-column(width='50%')
        mj-image(width="60px" src='https://i.ibb.co/1nyt9QW/logo1.jpg' alt='logo Carefour')
        mj-text(mj-class="dH1" padding-top="0") Chloe
        mj-text(mj-class="dT" padding-top='0' padding-bottom='0') #[span(style="font-weight:700;") Missions :] Mise en rayon, Respect du merchandising, Organisation d'opération commerciales, Missions de management, Gestion des livraisons et des stocks...
mj-section(background-color="#ffffff" padding-top="0" padding-bottom="40px")
    mj-column(width='50%')
        mj-image(width="60px" src="https://i.ibb.co/TvFhqZ6/logo7.jpg" alt="logo Bouygues")
        mj-text(mj-class="dH1" padding-top="0") XXXXXXX
        mj-text(mj-class="dT" padding-top='0' padding-bottom='0') #[span(style="font-weight:700;") Missions :] Mise en rayon, Respect du merchandesing, Organisation d'opération commerciales, Missions de management, Gestion des livraisons et des stocks
    mj-column(width='50%')
        mj-image(padding="0" width="480px" fluid-on-mobile="true" src="https://i.ibb.co/MZt0XtQ/let-Com03-122024.jpg")