//- Réglement
mj-section
    mj-column(width='480px')
        mj-text(padding-top='0' padding-bottom='0' align='center' mj-class='dTs cB') Si vous ne visualisez pas cet email correctement, cliquez #[a(style='color:#EC6608;font-weight:700;' href='{{ mirror }}') ici].
        mj-text(padding-top='0' padding-bottom='0' align='center' mj-class='dTs cB') Vous recevez ce message parce que vous vous êtes inscrit(e) aux communications d'Ecosup Campus.
        mj-text(padding-top="0" align='center' mj-class='dTs cB' text-transform='uppercase'): a( style='color:#EC6608;font-weight:700;' href='{{ unsubscribe }}') Se desinscrire
        mj-text(align='center' mj-class='dTs cB') @ 2024 Ecosup Campus