//- Réseaux sociaux
mj-section
    mj-column(width='480px')
        mj-social(inner-padding='0 20px' icon-size='25px' mode='horizontal')
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/660d6047d0d41f3120a8cdec.png' href='https://fr.linkedin.com/company/ecosup-campus' alt='Linkedin')
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/660d604fd0d41f3120a8cdf5.png' href='https://www.facebook.com/EcosupCamp' alt='Facebook')    
            mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/660d605a373b24d832a3970d.png' href='https://www.instagram.com/ecosup.campus' alt='Instagram')      