mjml
    mj-head
        mj-title Ecosup Commerce 122024
        mj-font(name='Roboto' href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')/
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
        mj-attributes
            mj-all(font-family='Roboto, Arial, Helvetica, sans-serif')/
            mj-class(name="dH1" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="28px" font-weight="300" line-height="30px")/
            mj-class(name="dH2" font-family="Roboto, Arial, Helvetica, sans-serif" font-size="14px" font-weight="900" line-height="18px")/
            mj-class(name='dT' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='16px' font-weight='400' line-height='20px')/
            mj-class(name='dTs' font-family="Roboto, Arial, Helvetica, sans-serif" font-size='12px' font-weight='300' line-height='16px')/
            mj-class(name='cB' color='#2D3748')/
            mj-class(name='cOF' color="#AA3E17")/
            mj-class(name="cO" color="#EC6608")
        mj-breakpoint(width="480px")
    mj-body(background-color='#edf2f7')
        //- content
        block content
        //- article superquinquin
            block superquinquin
            include ../includes/_superquinquin
        //- Jeff de Bruges
            block JeffdeBruges
            include ../includes/_JeffdeBruges
        //- agenda
        block agenda
            include ../includes/_agenda
        //- logo partenaires
        block partenaires
            include ../includes/_partenaires
        //- réseaux sociaux
        block resociaux
            include ../includes/_resociaux
        //- adresse
        block adresse
            include ../includes/_adresse
        //- reglement
        block reglement
            include ../includes/_reglement