extends templates/_layout
block content
        //- Newsletter + Signature
        mj-section(background-color='#fbc49d' padding-bottom='10px')
            mj-column(width="320px" vertical-align="top")
                mj-image( border="none" width="480px" src="https://i.ibb.co/C5Q0SSF/logo-Commerce112024.png" alt="logo Ecosup Commerce")
                //-mj-group(width='240px')
            mj-column(width="160px" background-color="#f77a22" border-radius="0px 40px 0px 0px")
                    mj-image(align="left" border='none' width='50px' src='https://i.ibb.co/Mskj4kV/Marie-Laurence.jpg' alt='Laurence Wallaert responsable pédagogique')/
                    //-mj-column(width="100%" background-color="#f77a22")  
                    mj-text(align="left" mj-class='dTs cB' padding-top="0" padding-bottom='0') #[span(style='font-weight:700;') Marie-Laurence] #[span(style='text-transform:uppercase;font-weight:700;') Wallaert]
                    mj-text(align="left" mj-class='dTs cB' padding-top="0") Responsable pédagogique Ecosup-commerce
        mj-section(background-color="#EC6608" padding="0")
            mj-column(width='480px')
                mj-text(align='left' padding-top="5px" font-size='16px' line-height='20px' font-weight='300' color='#000000') Newsletter Ecosup Commerce / #[span(style='font-weight:700;color:#ffffff') Décembre 2024]